[user]
  name = Tom Scott
  email = tscott@weblinc.com
[repo]
  user = tubbo
[github]
  user = tubbo
[alias]
  staged = diff --cached
  unstaged = diff
  restore = stash pop
  blog = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset' --abbrev-commit --decorate
  unstage = reset HEAD
  complete = !git expose && git internal-pull-request
  standup = !git blog --author="`git config user.name`" --since=yesterday
  exclude = !echo $1 >> .git/info/exclude
[apply]
  whitespace = warn
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[push]
  default = current
[core]
  editor = vim
  pager = less -r
  excludesfile = /Users/tscott/.gitignore.global
[merge]
  tool = vimdiff
[diff]
  tool = vimdiff
[rerere]
  enabled = 1
[hub]
  remote = tubbo
[difftool]
  prompt = 0
