locals.zsh
log/.zsh_history
projects.zsh
cache
*.swp
config/npmrc
config/shsh/**
config/ssh/**
config/webbynode
config/aws.zsh
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/ruby/bundler/man
pkg
rdoc
spec/reports
tmp
vendor/ievms
config/*.zsh
