.bundle
config/npmrc
config/shsh/**
config/ssh/*rsa
config/ssh/*dsa
config/webbynode
config/aws.zsh
config/*.zsh
config/.weechat/logs/*.weechatlog
config/.weechat/*.log
Gemfile.lock
spec/reports
tmp
tags
vendor/ievms
vendor/gems
